# Python
__pycache__/
*.pyc
.venv/
venv/

# Pytest cache
.pytest_cache/

# Docker
*.log
*.pid
*.db
.env

# VS Code
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# configuration files
deploy-eb.sh



# ec2 and AWS data
ec2-user@*